body,
html {
  margin: 0;
  padding: 0;
  background-color: #222;
}

* {
  font-family: sans-serif;
  color: #eee;
}

header {
  position: relative;
  background-color: #333;
  padding: 5vh 0 calc(30vh - 10px) 0;
  text-align: center;
  height: 0;
  border-bottom: 10px solid #111;
  box-shadow: 0 -10px 20px 0 #0007 inset;

  overflow: hidden;
}

header .banners img {
  position: absolute;
  width: 100%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

img.fade-enter {
  opacity: 0.01;
}
img.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
img.fade-exit {
  opacity: 1;
}

img.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

header h1 {
  color: #222;
  font-size: 10vh;
  text-shadow: 0 0 50px #fff6, 0 0 1px #fff;

  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.5vh;
}

.container {
  position: relative;
}

section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

section {
  text-align: center;
  padding-top: 20px;
}

section.fade-enter {
  opacity: 0.01;
}
section.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
section.fade-exit {
  opacity: 1;
}

section.fade-exit.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.row {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

button,
input,
input + label {
  border: #111 1px solid;
  background-color: transparent;
  padding: 15px;
  transition: background 0.1s linear;
}

button:hover,
input {
  background-color: #fff1;
}

button.selected {
  background-color: #fff2;
}

button:focus,
input:focus,
input[type="file"]:focus + label {
  outline: 1px solid rgb(61, 196, 211);
  z-index: 1;
}


input[type="submit"],
button {
  background-image: linear-gradient(to top, #0006, #fff2);
  cursor: pointer;
}

input[type="submit"]:hover,
button:hover {
  background-color: #FFF2;
}

form > * {
  margin: 10px 0;
}

input.invalid {
  outline: 2px solid rgb(213, 17, 59);
}

label.tooltip {
  position: absolute;
  margin-left: 10px;
  margin-top: 20px;
  padding: 7px;
  border-radius: 10px;
  font-size: 0.8rem;
  background: #000;
}

input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

input[type="file"] + label {
  font-size: 1rem;
  background-color: #333;
  border-radius: 0.2rem;
  display: inline-block;
  cursor: pointer;
  margin: 0 5px;
  text-align: left;
  text-transform: capitalize;
  position: relative;
  padding: 10px;
  overflow: hidden;
}

input[type="file"] + label > span {
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: -3px;
  padding: 15px;
  background-color: #fff2;
}

input[type="file"]:focus + label,
input[type="file"] + label:hover {
  background-color: #555;
}

input[type="file"].invalid + label {
  outline: 2px solid rgb(213, 17, 59);
}

.selection.invalid {
  outline: 2px solid rgb(213, 17, 59);
}

input:disabled, input:hover:disabled {
  background: #FFF1;
}